<section >
  <div>
    <h1 class="elegantshadow">INFORMACION</h1>

  </div>
  <div class="cards">
    <a href="#" class="card">
      <img src="../../../assets/img/tiempo.jpeg" alt="duracion" class="card__img">
      <span class="card__footer">
        <span>TIEMPO DE SESION.</span>
        <span>30 minutos!</span>
      </span>
      <span class="card__action">
        <svg viewBox="0 0 448 512" title="play">
          <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </span>
    </a>
    <a href="#" class="card">
      <img src="../../../assets/img/sonrisa.jpeg" alt="testimonios" class="card__img">
      <span class="card__footer">
        <span>CLIENTES</span>
        <span>testimonios!</span>
      </span>
      <span class="card__action">
        <svg viewBox="0 0 448 512" title="play">
          <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </span>
    </a>
    <a href="#" class="card">
      <img src="../../../assets/img/contacto.jpeg" alt="balloon with an emoji face" class="card__img">
      <span class="card__footer">
        <span>PROMOCIONES</span>
        <span>Contacta</span>
      </span>
      <span class="card__action">
        <svg viewBox="0 0 448 512" title="play">
          <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </span>
    </a>
    <a href="https://maps.app.goo.gl/rvwQFwWDjbywUC6TA" class="card">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d263.34971575075946!2d-74.09877613295475!3d4.575234635194509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f98e849be33e1%3A0xb25bc09d521085e3!2sCra.%2011%20%2324-21%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2ses!4v1727694857731!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <span class="card__footer">
        <span>UBICACION</span>
        <span>Bogota, Colombia.</span>
      </span>
      <span class="card__action">
        <svg viewBox="0 0 448 512" title="play">
          <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
        </svg>
      </span>
    </a>

  </div>


</section>
