<footer>
  <img src="../../../assets/img/nombre.png" alt="Thermosalud">
  <div class="Information">
    <div class="Contact">
      <div><img src="../../../assets/img/llamar.png" alt="call"> <p>3143013103</p></div>
      <div><img src="../../../assets/img/correo.png" alt=" Correo"></div>
      <div><img src="../../../assets/img/ubicacion.png" alt="Ubicacion"> <p>Bogota</p></div>
    </div>
    <div class="img">
      <img src="../../../assets/img/nuevo logo sin fondo.png" alt="logo" width="150px">
    </div>
  </div>
  <div class="footerInfo">
    <p>Terminos y condiciones. </p>
    <p>Politica de rembolso.</p>
    <p>Opina sobre nosotros.</p>
  </div>

</footer>
