@import '../../../styles/variables.scss';
footer{
  background-color: $color-primary;
  color: floralwhite;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  .Contact{
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      gap: 5px;
    }
  }
  .Information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.img{
  background-color: floralwhite;
  width: min-content;
  border-radius: 100px;
}
.footerInfo{
  display: flex;
  justify-content: space-around;
  p{
    font-size: 10px;
  }
}
