<section>
  <div class="beneficios">
    <div class="button-beneficios">
      <button class="buton-beneficios" mat-raised-button color="primary">BENEFICIOS</button>
    </div>
    <div class="information">
      <div class="imagenes">
        <img src="../../../assets/img/dolor de espalda.jpeg" alt="dolor de espalda" width="150vh">
      </div>
      <div>
        <ul>
          <li>Alivia dolor muscular.</li>
          <li>Reduce el dolor y tension.</li>
          <li>Mejora la circulacion y
            desintoxica el cuerpo.
          </li>
          <li>Acelera recuperacion.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nuestras-camillas">
    <div class="camillas">
      <button class="buton-beneficios" mat-raised-button color="white">CAMILLAS</button>
    </div>
    <div class="information-2">
      <div>
        <ul>
          <li>Tecnologia infrarojo.</li>
          <li>Sistema de masaje integrado.</li>
          <li>Diseño ergonomico.</li>
          <li>Control de temperatura.</li>
        </ul>
      </div>
      <div class="imagenes">
        <img src="../../../assets/img/camilla thermo.jpeg" alt="camillas termosalud" width="150vh">
      </div>
    </div>
  </div>
</section>
